body {
    font-family: Arial, sans-serif;
    margin: 20px;
}

h1 {
    text-align: center;
}

h2 {
    margin-top: 40px;
}



  ## Basic Flexbox
  

.container {
    display: flex;

    gap: 20px;

    background-color: lightgray;
    padding: 20px;
}

.box {
    background-color: lightblue;

    width: 100px;
    padding: 30px;

    text-align: center;
}



   ## Justify Content
  
justify-container {
    display: flex;

    justify-content: space-between;

    background-color: lightyellow;
    padding: 20px;
}

.small-box {
    background-color: lightgreen;

    width: 50px;
    padding: 20px;

    text-align: center;
}




.align-container {
    display: flex;

    align-items: center;

    height: 150px;

    background-color: lightgray;
    padding: 20px;

    gap: 20px;
}




.wrap-container {
    display: flex;

    flex-wrap: wrap;

    gap: 15px;

    background-color: lightblue;
    padding: 20px;
}

.card {
    width: 120px;

    padding: 25px;

    background-color: white;

    text-align: center;

    border: 1px solid black;
}
