body {
    font-family: Arial, sans-serif;
    text-align: center;
    margin: 40px;
}

.box {
    width: 120px;
    padding: 30px;
    margin: 25px auto;
    background-color: lightblue;
    border: 1px solid black;
    transition: 0.4s;
}

.scale:hover {
    transform: scale(1.1);
}

.rotate:hover {
    transform: rotate(8deg);
}

.move:hover {
    transform: translateX(30px);
}
